.homepageWrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.bigIconSize {
  font-size: 30px;
  color: #40a9ff;
  margin-bottom: 5px;
}

.toggleWrapper {
  background-color: #fafafa;
  margin-bottom: 5px;
  text-align: left;
  padding: 10px;
}

.pullTextRight {
  text-align: right;
}